<div class="container">
  <div class="row">
    <div class="col-centered col-md-4 col-sm-6 col-xs-10">
      <h1>Idea Index Page</h1>
      <hr>
      <!-- begin idea panel -->
      <% @ideas.each do |idea| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><%= link_to idea.idea, idea %></h4>
            <p>
              Submitted <%= time_ago_in_words(idea.created_at) %>
              by <%= idea.user.first_name %>
            </p>
            <% if current_user %>
              <%= link_to like_idea_path(idea), method: :put, class: "glyphicon glyphicon-thumbs-up" do %>
                Upvote
                <%= idea.get_upvotes.size %>
              <% end %>

              <%= link_to dislike_idea_path(idea), method: :put, class: "glyphicon glyphicon-thumbs-down" do %>
                Downvote
                <%= idea.get_downvotes.size %>
              <% end %>
            <% else %>
              <p><%= link_to "Login", login_path %> to vote on an idea!</p>
            <% end %>
        </div>
      </div>
      <% end %>
      <!-- end idea panel -->
    </div>
  </div>
</div>
