<div class="container">
  <div class="row pad-top">
    <div class="jumbotron">
      <% if current_user %>
        <p>Hey, <%= current_user.first_name %></p>
        <h1 class="display-3">Welcome back!</h1>
        <br>
        <p>Just browse all the ideas other people have submitted. Don't forget vote on them or share them if you think they're awesome!</p>
      <% else %>
        <p>Welcome!</p>
        <h1 class="display-3">Needing some inspiration?</h1>
        <br>
        <p>Checkout the best new way to share ideas and be inspired by others! Scroll down to checkout some of the amazing ideas that have already submitted.</p>
      <% end %>
      <br>
      <p></p>
      <p class="lead">
        <% if current_user %>
          <%= button_to "Submit Idea!", new_idea_path, :method => "get", class: "btn btn-lg btn-success" %>
        <% else %>
          <%= button_to "Sign Up!", new_user_path, :method => "get", class: "btn btn-lg btn-primary" %>
          <p> or <%= link_to "Login", login_path %> if you've been here before.</p>
        <% end %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-centered col-md-6 col-sm-6 col-xs-10 pad-top">
      <!-- begin idea panel -->
      <% @ideas.each do |idea| %>
      <div class="panel panel-default idea-panel">
        <div class="panel-body">
          <h4><%= link_to idea.idea, idea, class:"idea-text" %></h4>
            <% if current_user %>
              <%= link_to like_idea_path(idea), method: :put, class: "glyphicon glyphicon-thumbs-up" do %>
                Upvote
                <%= idea.get_upvotes.size %>
              <% end %>
              <%= link_to dislike_idea_path(idea), method: :put, class: "glyphicon glyphicon-thumbs-down" do %>
                Downvote
                <%= idea.get_downvotes.size %>
              <% end %>
            <% else %>
              <p><%= link_to "Login", login_path %> to vote on an idea!</p>
            <% end %>
        </div>
        <div class="panel-footer">
          <h6>
            Submitted <%= time_ago_in_words(idea.created_at) %> ago
            by <%= link_to idea.user.first_name, user_path(idea.user) %>
          </h6>
          <%= social_share_button_tag(idea.idea, :popup => "true") %>
        </div>
      </div>
      <% end %>
      <!-- end idea panel -->
    </div>
  </div>
</div>
