<div class="container">
  <div class="row pad-top">
    <div class="col-centered col-md-6 col-sm-6 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="card-text"><%= @idea.idea %></p>
          <%= link_to like_idea_path(@idea), method: :put, class: "glyphicon glyphicon-thumbs-up" do %>
            Upvote
            <%= @idea.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_idea_path(@idea), method: :put, class: "glyphicon glyphicon-thumbs-down" do %>
            Downvote
            <%= @idea.get_downvotes.size %>
          <% end %>
          <% if current_user == @idea.user %>
          <div class="pencil-trash">
            <%= link_to '', edit_idea_path, class:"glyphicon glyphicon-pencil"%>
            <%= link_to '', delete_idea_path, data: {:confirm => 'Are you sure you want to delete this amazing idea?'}, :method => :delete, class:"glyphicon glyphicon-trash"%>
          </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <h6>
            Submitted <%= time_ago_in_words(@idea.created_at) %> ago
            by <%= link_to @idea.user.first_name, user_path(@idea.user) %>
          </h6>
          <%= social_share_button_tag(@idea.idea, :popup => "true") %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: "comments/template", locals: {commentable: @idea, new_comment: @comment} %>
        </div>
      </div>
    </div>
  </div>
</div>
