<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-10 profile">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag @user.avatar, class:"img-responsive img-thumbnail img-centered" %>
        </div>
        <div class="panel-body">
          <div class="card-block">
            <h4 class="card-title">Welcome, <%= @user.first_name %></h4>
            <p class="card-text">Here's your profile information. If anything is wrong or missing, just click edit! Scroll down to see the ideas you've submitted.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">First Name: <%= @user.first_name %></li>
            <li class="list-group-item">Last Name: <%= @user.last_name %></li>
            <li class="list-group-item">Email: <%= @user.email %></li>
          </ul>
          <div class="card-block">
            <div class="inner"><%= button_to "New Idea", new_idea_path(@user), :method => 'get', class: "btn btn-small btn-primary" %></div>
            <div class="inner"><%= button_to "Edit Profile", user_edit_path(@user), :method => 'get', class: "btn btn-small btn-success" %></div>
            <div class="inner"><%= button_to "Delete Profile", destroy_user_path(@user),data: {:confirm=>'Are you sure you want to delete your profile? This cannot be undone.'}, :method => 'delete', class: "btn btn-small btn-danger" %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-10 profile">
      <!-- begin idea panel -->
      <% @user.ideas.each do |idea| %>
      <div class="panel panel-default idea-panel">
        <div class="panel-body">
          <h4><%= link_to idea.idea, idea %></h4>
            <% if current_user %>
              <%= link_to like_idea_path(idea), method: :put, class: "glyphicon glyphicon-thumbs-up" do %>
                Upvote
                <%= idea.get_upvotes.size %>
              <% end %>
              <%= link_to dislike_idea_path(idea), method: :put, class: "glyphicon glyphicon-thumbs-down" do %>
                Downvote
                <%= idea.get_downvotes.size %>
              <% end %>
            <% else %>
              <p><%= link_to "Login", login_path %> to vote on an idea!</p>
            <% end %>
        </div>
        <div class="panel-footer">
          <h6>
            Submitted <%= time_ago_in_words(idea.created_at) %> ago
            by <%= idea.user.first_name %>
          </h6>
          <%= social_share_button_tag(idea.idea, :popup => "true") %>
        </div>
      </div>
      <% end %>
      <!-- end idea panel -->
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-centered col-md-4 col-sm-6 col-xs-10">
      <h1>User generated ideas will go here</h1>
    </div>
  </div>
</div>
