<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>ideaMe</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
    <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  </head>
  <body>

    <!-- navbar helper -->
    <%= render "shared/navbar" %>

    <!-- Flash Message -->
    <div class="container pad-top">
      <% flash.each do |type, message| %>
        <div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
      <% end %>
    </div>

    <!-- Pages render in here -->
    <%= yield %>
    <!-- End page render -->

  </body>
</html>
